html {
  font-family: New Times Roman;
  text-align: center;
}
h1 {
  font-size: 1.8rem;
  color: white;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #612b78;
}
.topnav {
  overflow: hidden;
  background-color: #612b78;
}
body {
  margin: 0;
}
.content {
  padding: 30px;
  max-width: 600px;
  margin: 0 auto;
}
.button {
  padding: 15px 50px;
  font-size: 24px;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #fa0f0f; /*green*/
  border: none;
  border-radius: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.button:active {
  background-color: #fa0f0f;
  transform: translateY(2px);
}
.state {
  font-size: 1.5rem;
  color: #120707;
  font-weight: bold;
}
